<!DOCTYPE html>
<html>
	<head>
		<title>{{{title}}}</title>
        <link rel="stylesheet" href="../static/css/style.css">

	</head>
	<body>
		<header>
		<a href="../"> Main Page</a>
        
        <a href="../contactus">Contact Us</a>

        <a href="../aboutus">About Us</a>
	<h1>{{{title}}}</h1>
	<h2>By Leo Babauta</h2>
	</header>

		{{{content}}}
	
	</body>
	
	<footer>
	<a href="/"> Main Page</a> 
	<a href="../contactus">Contact Us</a> 
	<a href="../aboutus">About Us</a>
	</footer>
</html>