<!DOCTYPE html>
<html>
    <head>
        <title>Contact Us</title>
        <script type="text/javascript" src="../static/js/script.js"></script>
       <link rel="stylesheet" href="../static/css/style.css"> 
    </head>

    <body>
        
        <header>    
         <a href="../"> Main Page</a>
        
        <a href="../contactus">Contact Us</a>

        <a href="../aboutus">About Us</a>
        </header>
        
        <h1>Contact Us</h1>
        <video> {{ video_search_results }} </video>  

        <div id="nameRequired"></div>
        <div id="subjectRequired"></div>
        <div id="messageRequired"></div>
        <div id="emailRequired"></div>
        
        
        <form method="post" name="contactForm"> <!-- onsubmit="return processSubmit();"-->
            <ul>
                <li>
                <label for="personsName" id="namelabel" >Name:</label>
                <input type="text" id="personsName" name="name" required="">
                </li>   
                
                <li>
                <label for="subject" id="subjectlabel">Subject: </label>
                <input type="text" name="subject" id="subject" required="">
                </li>

                <li>
                <label for="message" id="messagelabel">Message: </label>
                <textarea name="message" cols="40" rows="2" required=""></textarea>
                </li>

                <li>
                <label for="email" id="email">E-Mail: </label>
                <input type="email" name="emailAddr" required="">
                </li>
                <br>
                <input type="submit" value="Submit Message" onclick="processForm()" />
                </li>
            </ul>
        </form>
        
        <footer>
            <br>
          <a href="../"> Main Page</a>
        
        <a href="../contactus">Contact Us</a>

        <a href="../aboutus">About Us</a>
        </footer>
        
        </body>
    </html>
