<!DOCTYPE html>
<html>
	<head>
		<title>MOOCS Buffet</title>
        <meta name="author" content="Priyanka" />
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <link rel= "stylesheet" href="/static/css/style.css" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

	</head>
<body>
<header>
   <!--  <a href="#">About</a>
    <a href="#">Contact Us</a> -->
  <ul id = 'list'>
      <li class = 'header_footer'><a href="http://localhost:3000/index">Home</a></li>
      <li class = 'header_footer'><a href="http://localhost:3000/about">About</a></li>
      <li class = 'header_footer'><a href="http://localhost:3000/contact">Contact Us</a></li>
  </ul>
</header>

<div class="headline">
  <h1>MoocSearch </h1>
</div>

<div class="row">

<div class="col-3 menu">
  <form action="/" method="POST" id="searchForm">
			<input type="text" name="courses" id="query_bar" placeholder="Search course" /><br>
			<label>Moocs: </label><br>
			<input type="checkbox" name="searchoptions" value="youtube" checked />Youtube<br>
			<input type="checkbox" name="searchoptions" value="coursera" checked />Coursera<br>
			<input type="checkbox" name="searchoptions" value="udacity" checked />Udacity<br>
			<input type="checkbox" name="searchoptions" value="udemy" checked />Udemy<br>
			<input type="checkbox" name="searchoptions" value="khanAcademy" checked />Khan Academy<br>
			<input type="submit" value="Submit" id="submit"/>
		</form>
</div>

<div class="col-9 menu">
<ul>
{{#results}}
<li>
<p><strong>{{0}}</strong></p>
<iframe width="420" height="345" src= {{1}} >
</iframe></br>
<span><strong>Description:</strong> {{2}} </span>
</br>	
</li>
{{/results}}
</ul>


<ul>
{{#results_image}}
<li>
<p><strong>{{0}}</strong></p>



<img src= {{2}} alt="No image" style="width:420px;height:345px;"></br>
<span><strong>Course url</strong> {{1}} </span></br>

<span><strong>Description:</strong> {{3}} </span>
</br>	
</li>
{{/results_image}}
</ul>


</div>

</div>

	

<footer>
    
    <ul id = 'list'>
      <li class = 'header_footer'><a href="http://localhost:3000/index">Home</a></li>
      <li class = 'header_footer'><a href="http://localhost:3000/about">About</a></li>
      <li class = 'header_footer'><a href="http://localhost:3000/contact">Contact Us</a></li>
 
    </ul>
</footer>
		
	</body>
</html>