<!DOCTYPE html>
<html>
	<head>
		<title>Advice for Being Better</title>
		<script type="text/javascript" src="static/js/script.js"></script>
		<link rel="stylesheet" href="static/css/style.css">

	</head>
	<body>
		<header>
		<a href="../"> Main Page</a>
        
        <a href="../contactus">Contact Us</a>

        <a href="../aboutus">About Us</a>
		</header>

		<h1>Advice for Being Better</h1>
		<ul>
			<li>
				<p>{{{title}}}</p>
				
			</li>
			<li>
				<a href="/blog/a-mindful-shift-of-focus" class="blogpost">A Mindful Shift of Focus</a>
			</li>
			<li>
				<a href="/blog/how-to-develop-an-awesome-sense-of-direction" class="blogpost">How to Develop an Awesome Sense of Direction</a>
			</li>
			<li>
				<a href="/blog/training-to-be-a-good-writer" class="blogpost">Training to Be a Good Writer</a>
			</li>
			<li>
				<a href="/blog/what-productivity-systems-wont-solve" class="blogpost">What Productivity Systems Won't Solve</a>
			</li>
			</ul>
		
		<footer>
		<a href="/"> Main Page</a> 
		<a href="../contactus">Contact Us</a> 
		<a href="../aboutus">About Us</a>
		</footer>
		
	</body>
</html>
	
