header {
	font-family: Arial;
	color:red;
	font-size:10px;
}

h1 {
	font-family: Arial;
	color:red;
	font-size:32px
}

h2 {
	font-family: Arial;
	color:blue;
	font-style: italic;
}

div {
	font-weight: bold;
	font-family: Arial;
	color:red;
}

footer {
	font-family: Arial;
	font-size:10px;
}

#namelabel {
	font-family:sans-serif;
}	

#subjectlabel {
	font-family:sans-serif;
}

#messagelabel {
	font-family:sans-serif;

}

#email {
	font-family: sans-serif;
}


.blogpost {
	font-family:sans-serif;
	text-decoration:none;
}

li {
	border: 1px solid black;

}


em {
    font-weight: bold;
    color: blue;
    font-size: 18px;
}

a:hover {
	color: #cc0000;
	font-weight: bold;
	text-decoration: none;
}